* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Chivo", sans-serif;
}

/* ============
Typography 
============*/

h1,
.intro {
  text-align: center;
  line-height: 1.5;
}

h1 {
  font-size: 1.625rem;
  color: #fff;
  font-weight: 300;
  margin-bottom: 0.5em;
}

.title-span {
  color: #54e6af;
}

.intro {
  color: #c2cbe5;
}

.podcast-image {
  max-width: 70px;
  justify-self: center;
  align-self: center;
}

/* input and button */

.email-input,
.request-access-btn {
  border-radius: 30px;
  font-size: 0.875rem;
  font-weight: 700;
}

.email-input {
  background: #2c344b;
  color: #fff;
  border: 1px solid #2c344b;
  padding: 0.75em 2em;
  margin-bottom: 1em;
}

.email-input::placeholder {
  color: #fff;
}

.request-access-btn {
  padding: 0.6em 1em;
  border: none;
  color: #121725;
  background: #54e6af;
}

.request-access-btn:hover,
.request-access-btn:active {
  cursor: pointer;
  background: #b3ffe2;
}

.thank-you-message,
.error-add,
.error-check {
  grid-row: 2;
  margin-bottom: 1em;
  padding-left: 2em;
  font-weight: 700;
}

.error-add,
.error-check {
  color: red;
}

.thank-you-message {
  color: #fff;
}

/* ============
Layout
============*/

.container,
main,
.podcast-holder,
.form-request-access {
  display: grid;
}

header,
main {
  grid-column: 2 / -2;
}

.container {
  --background-overlay: rgb(18 23 38 /0.9);
  background: linear-gradient(
      var(--background-overlay),
      var(--background-overlay)
    ),
    url(images/mobile/image-host.jpg) no-repeat center center;
  background-size: cover;
  mix-blend-mode: darken;
  height: 100vh;
  grid-template: 175px 1fr / 1.2em 1fr 1.2em;
}

header {
  justify-self: center;
  align-self: center;
}

main {
  grid-template-rows: 192px 50px 108px;
  grid-gap: 30px;
}

.podcast-holder {
  grid-template-columns: repeat(4, 1fr);
}

/* ============
Media Query 
============*/
